@model ZineClient.Models.Zine


<h1>Delete Zine</h1>

<div class="registration-form">
  <form asp-controller="Zines" asp-action="Delete" method="post">

    <input class="btn btn-light" type="submit" value="Delete">
  </form>
</div>