@model ZineClient.Models.Zine


<h1>Delete Zine</h1>

<h4>Are you sure you want to delete this zine?</h4>

<div class="registration-form">
  <form asp-controller="Zines" asp-action="Delete" method="post">
    @* <input type="hidden" value="@Model.ZineId" asp-for="ZineId"> *@
    <input class="btn btn-light" type="submit" value="Delete">
  </form>
</div>