@model List<ZineClient.Models.Zine>;

@{
    ViewData["Title"] = "Zines Index";
}

<div class="text-center">
    <h1 class="display-4">Explore Zines</h1>
    <h2>View zines from everyone</h2>
</div>

<br>
<div class="gridtest">
  @foreach (Zine zine in Model)
  {
    <div class="zine-thumbnail">
      @if (@zine.MainImageUrl != null)
      {
        <img class="zine-cover" src="@zine.MainImageUrl">
      }
      else
      {
        <img class="zine-cover" src="https://www.rcsdk8.org/sites/main/files/main-images/camera_lense_0.jpeg">
      }
      <div class="overlay">
        <div class="zine-details-link">
          <h4><a asp-controller="Zines" asp-action="Details" asp-route-id="@zine.ZineId">@zine.Name</a></h4>
        </div>
      </div>            
    </div>
  }
</div>

