@{
    ViewData["Title"] = "Zines";
}

<div class="text-center">
    <h1 class="display-4">Explore Zines</h1>
    <h3>View zines from everyone</h3>
</div>

@model List<ZineClient.Models.Zine>;

@* <ul>
  @foreach(Zine zine in Model)
  {
    <h4></h4>
  }
</ul> *@

@* <div class="zine-grid-display"> *@
<div class="gridtest">
    @foreach (Zine zine in Model)
    {
        <div class="zine-thumbnail">
            @if (@zine.MainImageUrl != null)
            {
                <img class="zine-cover" src="@zine.MainImageUrl">
            }
            else
            {
                <img class="zine-cover" src="https://www.rcsdk8.org/sites/main/files/main-images/camera_lense_0.jpeg">
            }
            <div class="overlay">
                <div class="zine-details-link">
                    @Html.ActionLink($"{zine.Name}", "Details", new { id = zine.ZineId })
                </div>
            </div>            
        </div>
    }
</div>

