@using System
@model ZineClient.Models.Post

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<h1>New Post</h1>

@* <div class="registration-form"> *@
<div>
  <form id="form" asp-controller="Posts" asp-action="Create" method="post">

    <div class="form-group">
      <label for="Title">Title</label>
      <input class="form-control" asp-for="Title">
    </div>

    <div class="form-group">
      <label for="Source">Content source</label>
      <input class="form-control" asp-for="Source">
    </div>

    <!-- Create the editor container -->
    <div class="form-group">
      <label for="Body">Body</label>
      <input name="Body" type="hidden" asp-for="Body" class="form-control">
      <div id="editor-container">
        <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p>
      </div>
    </div>

    @* <div class="form-group">
      <label for="Body">Body</label>
      <textarea rows="8" class="form-control" asp-for="Body"></textarea>
    </div> *@

    @Html.Label("Select zine")
    @Html.DropDownList("ZineId")
    <br>
    <br>
    <input id="submit-btn" onclick="getBody()" class="btn btn-light" type="submit" value="Create">
  </form>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor-container', {
    theme: 'snow'
  });
  var form = document.querySelector('form');
  function getBody() {
    var body = document.querySelector('input[name=Body]');
    //body.value = quill.getContents();
    //body.value = JSON.stringify(quill.getContents());
    //body.value = document.getElementById('editor-container').innerText;
    body.value = document.getElementById('editor-container').innerHtml;
    //body.value = quill.root.innerHtml;
    //console.log(quill.getContents());
    form.submit();
  };
</script>








