@model ZineClient.Models.Post

<h1>New Post</h1>

<div class="registration-form">
  <form asp-controller="Posts" asp-action="Create" method="post">

    <div class="form-group">
      <label for="Title">Title</label>
      <input class="form-control" asp-for="Title">
    </div>

    <div class="form-group">
      <label for="Source">Content source</label>
      <input class="form-control" asp-for="Source">
    </div>

    <div class="form-group">
      <label for="Body">Body</label>
      <textarea rows="8" class="form-control" asp-for="Body"></textarea>
    </div>

    @* tags *@

    @* zine dropdown? *@

    <input class="btn btn-light" type="submit" value="Create">
  </form>
</div>