@using System.Security.Claims;

@if (User.Identity.IsAuthenticated)
{
  <h1>My Account</h1>
  <p>Logged in as @User.Identity.Name</p>
  
  <a class="btn btn-light" asp-controller="Organizations" asp-action="Create">Create an organization</a>
  <a class="btn btn-light" asp-controller="Posts" asp-action="Create">Add post</a>
  
  <form asp-controller="Account" asp-action="Logoff" method="post">
    <input class="btn btn-light" type="submit" value="Sign out">
  </form>
  
}
else
{
  <h1>Account</h1>
  <a class="btn btn-light" asp-action="Register">Sign Up</a>
  <a class="btn btn-light" asp-action="Login">Login</a>

}