@model RegisterViewModel

<h1>Sign In</h1>

<div class="registration-form">
  <form asp-controller="Account" asp-action="Login" method="post">

    <div class="form-group">
      <label for="Email">Email</label>
      <input class="form-control" asp-for="Email" required>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input class="form-control" asp-for="Password" required>
    </div>

    <input class="btn btn-light" type="submit" value="Sign in">
    <small class="form-text text-muted">Don't have an account? <a asp-action="Register">Sign up.</a></small>

  </form>
</div>