@* @model List<ZineClient.Models.Organization>; *@
  @model ZineClient.Models.ApplicationUser

<h1>My organizations</h1>

@if (ViewBag.MyOrganizations.Count == 0)
{
  <p>You have not joined any organizations yet.</p>
}
else
{
  <ul>
    @foreach(var join in ViewBag.MyOrganizations)
    {
        <li><a asp-controller="Organizations" asp-action="Details" asp-route-id="@join.OrganizationId">@join.Organization.Name</a></li>
    }
  </ul>
}

<p>@Html.ActionLink("Add new organization", "Create")</p>