@model ZineClient.Models.ApplicationUser

<div class="jumbotron">
  <h1>My organizations</h1>
</div>

@if (Model.Organizations.Count == 0)
{
  <p>You have not joined any organizations yet.</p>
}
else
{
  <ul>
    @foreach (var join in Model.Organizations)
    {
      <h4 asp-controller="Organizations" asp-action="Details" asp-route-id="@join.OrganizationId">@join.Organization.Name</h4>
      <img class="img-fluid" src="@join.Organization.MainImageUrl">
    }
  </ul>
}

<div class="btn-menu">
  <a class="btn btn-light" asp-controller="Organizations" asp-action="Create">Add organization</a>
</div>
