@model ZineClient.Models.ApplicationUser

<h1>My organizations</h1>

@if (Model.Organizations.Count == 0)
{
  <p>You have not joined any organizations yet.</p>
}
else
{
  <ul>
    @foreach (var join in Model.Organizations)
    {
      <a asp-controller="Organizations" asp-action="Details" asp-route-id="@join.OrganizationId">@join.Organization.Name</a>
    }
  </ul>
}
