@model ZineClient.Models.ApplicationUser

@{
  ViewData["Title"] = "My Organizations";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
</div>

@if (Model.Organizations.Count == 0)
{
  <p>You have not joined any organizations yet.</p>
}
else
{
  <ul>
    @foreach (var join in Model.Organizations)
    {
      <h4 asp-controller="Organizations" asp-action="Details" asp-route-id="@join.OrganizationId">@join.Organization.Name</h4>
      <img class="img-fluid" src="@join.Organization.MainImageUrl">
    }
  </ul>
}

  <div class="text-center">
    <div class="btn-group">
       <a class="btn btn-light" asp-controller="Organizations" asp-action="Create">New organization</a>
    </div>
  </div>
