@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:rgb(30, 30, 30); color: white">
    <div class="text-center">
        <h1 class="display-4">Zine Maker</h1>
        <hr>
        <h2 style="color: white; text-transform: uppercase; opacity: .85;">Connect with creative communities</h2>
        <hr>
    </div>

<br>
<br>
    <div class="gridtest">
        @foreach (Zine zine in ViewBag.TopFour)
        {
            <div class="zine-thumbnail">
                <img class="zine-cover" src="@zine.MainImageUrl">
                <div class="overlay">
                    <div class="zine-details-link">
                        @Html.ActionLink($"{zine.Name}", "Details", "Zines", new { id = zine.ZineId })
                    </div>
                </div>            
            </div>
        }
    </div>

@if (!User.Identity.IsAuthenticated)
  {
<div class="text-center" style="margin: 100px;">
  <div class="btn-menu">
    <a class="btn btn-dark btn-lg" style="color: white;" asp-controller="Account" asp-action="Register">Join</a>
  </div>
</div>
  }

</body>