@model ZineClient.Models.Organization

@{
  ViewData["Title"] = @Model.Name;
}

  <div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Join this organization</h2>
  </div>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="AddUser" method="post">

    <input type="hidden" value="@Model.OrganizationId"  asp-for="OrganizationId">

  <input class="btn btn-light" type="submit" value="Yes, join">
</form> 