@model ZineClient.Models.Organization

<h1>@Model.Name</h1>
<h2>Join this organization</h2>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="AddUser" method="post">

    <input type="hidden" value="@Model.OrganizationId"  asp-for="OrganizationId">

  <input class="btn btn-light" type="submit" value="Yes, join">
</form> 