@model ZineClient.Models.Organization

@{
  ViewData["Title"] = "Create an Organization";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
  <h2>Get started with a new community</h2>
</div>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="Create" method="post">

    <div class="form-group">
      <label for="Name">Name</label>
      <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <textarea rows="8" class="form-control" asp-for="Description"></textarea>
    </div>

    <div class="form-group">
      <label for="MainImageUrl">Image Url</label>
      <input class="form-control" asp-for="MainImageUrl">
    </div>

    <input class="btn btn-light" type="submit" value="Create">
  </form>
</div>