@model ZineClient.Models.Organization

<h1>Add Organization</h1>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="Create" method="post">

    <div class="form-group">
      <label for="Name">Name</label>
      <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <textarea rows="8" class="form-control" asp-for="Description"></textarea>
    </div>

    <input class="btn btn-light" type="submit" value="Create">
  </form>
</div>