@model ZineClient.Models.Organization


<h1>Delete Organization</h1>

<h4>Are you sure you want to delete this organization?</h4>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="Delete" method="post">
    <input type="hidden" value="@Model.OrganizationId" asp-for="OrganizationId">
    <input class="btn btn-light" type="submit" value="Delete">
  </form>
</div>