@model ZineClient.Models.Organization

@{
  ViewData["Title"] = "Delete " + @Model.Name;
}

  <div class="text-center">
    <h1>@ViewData["Title"]</h1>
  </div>

<h4>Are you sure you want to delete this organization?</h4>

<div class="text-center">
  <div class="btn-group">
  <form asp-controller="Organizations" asp-action="Delete" method="post">
    <input class="btn btn-light" type="submit" value="Delete">
  </form>
</div>
</div>
