@model ZineClient.Models.Organization


<h1>Delete Organization</h1>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="Delete" method="post">

    <input class="btn btn-light" type="submit" value="Delete">
  </form>
</div>