@model ZineClient.Models.Organization

<h1>Edit Organization</h1>

<div class="registration-form">
  <form asp-controller="Organizations" asp-action="Edit" method="post">

    <input type="hidden" value="@Model.OrganizationId" asp-for="OrganizationId">
    @* @Html.HiddenFor(model => model.OrganizationId) *@

    <div class="form-group">
      <label for="Name">Name</label>
      <input class="form-control" asp-for="Name">
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <textarea rows="8" class="form-control" asp-for="Description"></textarea>
    </div>

    <input class="btn btn-light" type="submit" value="Edit">
  </form>
</div>
